body{    
	background: rgb(142 102 172);

    font-family: montserrat;
}
section {
	display: grid;
	place-items: center;
	height: 100vh;
}
.section-header{
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 25px;
    color: #fff;
}
.section-header:after{
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    background: #fff;
}
.section-header span {
	display: block;
	font-size: 15px;
	font-weight: 300;
}
.testimonials{
    max-width: 1000px;
    padding: 0 15px 50px;
    margin: 0 auto 80px auto;
}
.single-item{
    background: #fff;
    color: #111;
    padding: 15px;
    margin: 50px 15px;
}
.profile{
    margin-bottom: 30px;
    text-align: center;    
}
.img-area {
	margin: 0 15px 15px 15px;
}
.img-area img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 7px solid #a6a9b2;

}
.content{
    font-size: 18px;
}
.content p {
	text-align: justify;
}
.content p span {
	font-size: 48px;
	margin-right: 20px;
    
}
.socials i {
	margin-right: 25px;
}
.bio h4 {
	font-family: 'Berkshire Swash', cursive;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: blueviolet;
}

.form-area {
	margin-bottom:60px !important;
}
.row.single-form {
	box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.left {
	background:  rgb(142 102 172);
	padding: 200px 98px;
}
.left h2 {
	font-family: poppins;
	color: #fff;
	font-weight: 700;
	font-size: 48px;
}
.left h2 span {
	font-weight: 100;
}
.single-form{
    background: #fff;
}
.right {
	padding: 70px 100px;
	position: relative;
}
.right i {
	position: absolute;
	font-size: 80px;
	left: -27px;
	top: 40%;
	color: #fff;
}
.form-control {
	border: 2px solid #000;
}
.right button {
	border: none;
	border-radius: 0;
	background: #252525;
	width: 180px;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}
.right button:hover{
    background-color: #252525;
}


/*responsive*/

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -52px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 90px 15px;
  text-align: center;
}
.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
    .right button {
	width: 150px;
	padding: 12px 0;
}
    
}













